.loderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: rgba(76, 72, 72, 0.207);
    gap: 20px;

    p {
        font-size: 18px;
        color: #a5a5a5;
        text-align: center;
        padding-left: 15px;

    }
}